{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-else-return": 0,
    "react/require-default-props": 0,
    "max-len": [1, 80]
  }
}